@model KursKayit
<h2>Kurs Kayıt Ekleme</h2>
<hr>
<form asp-controller="KursKayit" asp-action="Create" method="post">
    <div class="mt-3">
        <label asp-for="OgrenciId" class="form-label">Öğrenci</label>
        <select asp-for="OgrenciId" asp-items="ViewBag.Ogrenciler" class="form-control">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <div class="mt-3">
        <label asp-for="KursId" class="form-label">Kurs</label>
        <select asp-for="KursId" asp-items="ViewBag.Kurslar" class="form-control">
            <option value="">Seçiniz</option>
        </select>
    </div>


    <button type="submit" class="btn btn-secondary mt-3 ">Kaydet</button>
</form>